*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedorAyuda
{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#bAyuda
{
	width: 161px;
	height: 161px;
	background: url(../img/btn_ayuda_rojo.png) no-repeat;
	position: relative;
	cursor: pointer;
}
/*mostrar botones con animacion*/
.policia{
	width: 48px;
	height: 48px;
	background: url(../img/iconoPolicia.png) no-repeat;
	position: absolute;
	top: 20%;
	display: none;
	cursor: pointer;
	animation: animarPolicia 1s;
	-moz-animation: animarPolicia 1s;
	-o-animation: animarPolicia 1s;
	-webkit-animation: animarPolicia 1s;
}
.ambulancia{
	width: 48px;
	height: 48px;
	background: url(../img/iconoAmbulancia.png) no-repeat;
	position: relative;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%);
	display: none;
	cursor: pointer;
}
.bomberos{
	width: 48px;
	height: 48px;
	background: url(../img/iconoBombero.png) no-repeat;
	position: absolute;
	top: 20%;
	left: 77%;
	display: none;
	cursor: pointer;
	animation: animarBombero 1s;
	-moz-animation: animarBombero 1s;
	-o-animation: animarBombero 1s;
	-webkit-animation: animarBombero 1s;
}

/*ocultar botones con animacion*/
.policiaR{
	width: 48px;
	height: 48px;
	background: url(../img/iconoPolicia.png) no-repeat;
	position: absolute;
	left: 50%;
	display: none;/
	cursor: pointer;
	animation: animarPoliciaR 1s;
	-moz-animation: animarPoliciaR 1s;
	-o-animation: animarPoliciarR 1s;
	-webkit-animation: animarPoliciaR 1s;
}
.bomberosR{
	width: 48px;
	height: 48px;
	background: url(../img/iconoBombero.png) no-repeat;
	position: absolute;
	top: 40%;
	left: 49%;
	/*display: none;*/
	cursor: pointer;
	animation: animarBomberoR 1s;
	-moz-animation: animarBomberoR 1s;
	-o-animation: animarBomberoR 1s;
	-webkit-animation: animarBomberoR 1s;
}

/*---Animaciones---*/
/*animacion para cuando se muestran los botones*/
@keyframes animarPolicia
{
	0%{left: 40%; top: 0%;}
	50%{left: 0%; top: 0%;}
    100%{left: 0%; top: 20%;}
}
@-moz-keyframes animarPolicia
{
	0%{left: 40%; top: 0%;}
	50%{left: 0%; top: 0%;}
    100%{left: 0%; top: 20%;}
}
@-o-keyframes animarPolicia
{
	0%{left: 40%; top: 0%;}
	50%{left: 0%; top: 0%;}
    100%{left: 0%; top: 20%;}
}
@-webkit-keyframes animarPolicia
{
	0%{left: 40%; top: 0%;}
	50%{left: 0%; top: 0%;}
    100%{left: 0%; top: 20%;}
}
@keyframes animarBombero
{
	0%{left: 40%; top: 0%;}
	50%{left: 77%; top: 0%;}
    100%{left: 77%; top: 20%;}
}
@-moz-keyframes animarBombero
{
	0%{left: 40%; top: 0%;}
	50%{left: 77%; top: 0%;}
    100%{left: 77%; top: 20%;}
}
@-o-keyframes animarBombero
{
	0%{left: 40%; top: 0%;}
	50%{left: 77%; top: 0%;}
    100%{left: 77%; top: 20%;}
}
@-webkit-keyframes animarBombero
{
	0%{left: 40%; top: 0%;}
	50%{left: 77%; top: 0%;}
    100%{left: 77%; top: 20%;}
}

/*animacion para cuando se ocultan los botones*/
@keyframes animarPoliciaR
{
	0%{left: 0%; top: 20%;}
	50%{left: 0%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@-moz-keyframes animarPoliciaR
{
	0%{left: 0%; top: 20%;}
	50%{left: 0%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@-o-keyframes animarPoliciaR
{
	0%{left: 0%; top: 20%;}
	50%{left: 0%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@-webkit-keyframes animarPoliciaR
{
	0%{left: 0%; top: 20%;}
	50%{left: 0%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@keyframes animarBomberoR
{
	0%{left: 77%; top: 20%;}
	50%{left: 77%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@-moz-keyframes animarBomberoR
{
	0%{left: 77%; top: 20%;}
	50%{left: 77%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@-o-keyframes animarBomberoR
{
	0%{left: 77%; top: 20%;}
	50%{left: 77%; top: 0%;}
    100%{left: 40%; top: 0%;}
}
@-webkit-keyframes animarBomberoR
{
	0%{left: 77%; top: 20%;}
	50%{left: 77%; top: 0%;}
    100%{left: 40%; top: 0%;}
}